

.debug .box{
    min-height: 50px;
    text-align: center;
    background-color: #006df4;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

.debug .row .row .box{
    background-color: #00e06f;
    border: 1px solid #006df4;
    font-size: 10px;
}

.titolo{
    font-weight: bold;
}

.section-2{
    margin: 20px 0px;
}

/* inizio css per bonus 1 */
    .debug .contenitore{
        display: flex;
        justify-content: center;
        margin: 100px;
    }

    .parte_destra, .parte_sinistra{
        width: 600px;
    }

    .quadrato{
        height: 50px;
    }

    .white{
        background-color: white;
    }

    .yellow{
        background-color: yellow;
        border: 1px solid lightgray;
    }

    .black{
        background-color: black;
        border: 1px solid lightgray;
    }

    .red{
        background-color: red;
        border: 1px solid lightgray;
    }
/* fine css per bonus 1 */

/* inizio css per bonus 2 */
.sottotitolo{
    font-weight: bold;
    font-size: 12px;
}

.box.justfy-content{
    background-color: #00e06f;
    border: 1px solid #00e06f;
    font-size: 10px;
    margin: 5px;
}

.space-around{
    flex-basis: 100%;
    justify-content: space-around;
    background-color: #006df4;
}

.space-between{
    flex-basis: 100%;
    justify-content: space-between;
    background-color: #006df4;
}
/* fine css per bonus 2 */